<script src="js/particles.min.js"></script>
<script src="js/particulas.js"></script>


<!-- Footer -->
<footer class="text-center text-lg-start dark text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Diablitas Chiloé</span>
      </div>
      <!-- Left -->
  
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5 text-white">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Diablitas Chiloé
            </h6>
            <p>
              Portal sobre escorts y masajistas para mayores de 18 años. 
              No poseemos vinculación laboral con las anunciantes y nos limitamos 
              exclusivamente a brindar un servicio publicitario. Somos un medio publicitario 
              legalmente constituido. Nos reservamos el derecho a publicación.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Paginas
            </h6>
            <p>
              <a href="/" class="text-reset">Inicio</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold">Contacto</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><i class="fas fa-home mr-3" aria-hidden="true"></i> Ancud, Chile </p>
            <p><i class="fas fa-envelope mr-3" aria-hidden="true"></i> diablitas.inc@gmail.com </p>
            <p><i class="fas fa-mobile mr-3" aria-hidden="true"></i> <a href="tel:+56954100003" class="text-danger">+56 9 </a></p>
          </div>
        
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 text-white" style="background-color: rgba(244, 238, 238, 0.05);">
      &copy; Copyright <span id="currentYear"></span> 
      <a href="#" class=" fw-bold text-danger">Diablitas Chiloé.</a>
    </div>
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script>
    // Obtener el elemento del año actual
    const currentYearElement = document.getElementById('currentYear');
  
    // Obtener el año actual
    const currentYear = new Date().getFullYear();
  
    // Insertar el año actual en el elemento
    currentYearElement.textContent = currentYear;
  </script>

  