<%- include ("./partials/cabecera") %> 
<%- include ("./partials/navbar") %> 

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9 text-dark text-center">
        <div class="text-center">
            <h1 class="text-white"><small>Pago Escort</small></h1>
            <h4></h4>
            <p class="text-white">Sexo Chiloé te aguardan para impulsar tus ganancias.</p>
        </div>

    </div>
</div>

<div class="card-header">
    <ul class="nav nav-justified nav-pills nav-fill justify-content-center">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Creación de perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Pago</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Listo!</a>
        </li>
    </ul>
</div>

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9 text-dark text-center">
        <div class="text-center">
            <h1 class="text-white"><small>Confirmación de Pago</small></h1>
            <h4></h4>
            <p class="text-white">Pago realizado con éxito. Gracias.</p>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 
