<%- include ("./partials/cabecera") %> 
<%- include ("./partials/navbar") %> 

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9 text-dark text-center">
        <div class="text-center">
            <h1 class="text-danger"><small>Error en el Pago</small></h1>
            <p class="text-white">Lo sentimos, hubo un error en la transacción de su pago. Por favor, intente nuevamente.</p>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 